@model IEnumerable<DataBase.Services>

@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card__header">
        <h2>Услуги</h2>

    </div>

    <div class="card__body">
        <a data-toggle="modal"
           onclick="
                       $.ajaxSetup({ cache: false });
                       $.get('@Url.Content("~/Services/AddService")', function (data){
                       $('#modal-body1').html(data);});"
           href="#AddCategory" class="btn btn-success">Добавить услуга</a>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Название услуги
                    </th>
                    <th>
                        Цена улсуги
                    </th>
                    <th>
                        Редактирование
                    </th>
                    <th>
                        Просмотр
                    </th>
                    <th>
                        Удаления
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a data-toggle="modal"
                               onclick="
                       $.ajaxSetup({ cache: false });
                       $.get('@Url.Content("~/Services/EditService/"+item.Id)', function (data){
                       $('#modal-body').html(data);});"
                               href="#Edit" class="btn btn-primary btn--icon"><i class="zmdi zmdi-refresh"></i></a>
                        </td>
                        <td>
                            <a data-toggle="modal"
                               onclick="
                       $.ajaxSetup({ cache: false });
                       $.get('@Url.Content("~/Services/ViewsService/"+item.Id)', function (data){
                       $('#modal-body2').html(data);});"
                               href="#Views" class="btn btn-success btn--icon"><i class="zmdi zmdi-more-vert"></i></a>
                        </td>
                        <td>
                            <a data-toggle="modal"
                               onclick="

                       lan('@Url.Content("~/Services/RemoveService/"+item.Id)')"
                               id="#" class="btn btn-danger btn--icon"><i class="zmdi zmdi-close"></i></a>
                            </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="AddCategory">
    <div class="modal-dialog">
        <div class="modal-content" style="width:fit-content;">
            <div class="modal-header">
                <h4 class="modal-title">Добавления услуги</h4>
            </div>
            <div id="modal-body1" class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Edit">
    <div class="modal-dialog">
        <div class="modal-content" style="width:fit-content;">
            <div class="modal-header">
                <h4 class="modal-title">Редактирование услуги</h4>
            </div>
            <div id="modal-body" class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Views">
    <div class="modal-dialog">
        <div class="modal-content" style="width:fit-content;">
            <div class="modal-header">
                <h4 class="modal-title">Просмотр услуги</h4>
            </div>
            <div id="modal-body2" class="modal-body">

            </div>
        </div>
    </div>
</div>
